{% extends 'StandaloneFullImage.html.twig' %}

{% set columns = 5 %}
{% set image = "login-back.jpg" %}

{% block OptionalButtons %}
    {# <a class="float-end btn btn-secondary" href="{{ controller.getUri('Session', 'registration') }}">zur Registrierung</a> #}
{% endblock %}

{% block Content %}

    <h1 class="card-title">Anmeldung</h1>

    <form class="mt-5 ajax" action="{{ controller.getActionUri('ajaxLogin', { redirect: get.get('originalRequest') }) }}" method="post">

        {% if configuration.get('Platform.Login.EnableUsername') %}
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="login" name="login" placeholder="Benutzername" value="{{ get.get('login') }}">
                <label for="login">Benutzername</label>
            </div>
        {% else %}
            <div class="form-floating mb-4">
                <input type="email" class="form-control" id="login" name="login" placeholder="E-Mail" value="{{ get.get('email') }}">
                <label for="login">E-Mail</label>
            </div>
        {% endif %}

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Passwort">
            <label for="floatingPassword">Passwort</label>
            <div id="passwordHelp" class="form-text my-2 text-end"><a href="{{ controller.getActionUri('passwordRequest') }}"><i class="fa-regular fa-circle-chevron-right preicon"></i>Passwort vergessen</a></div>
            {# <div id="" class="form-text my-2"><a href="{{ controller.getActionUri('registration') }}"><i class="fa-regular fa-circle-chevron-right preicon"></i>Neuen Account erstellen</a></div> #}
        </div>

        <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">Anmelden</button>
        </div>

    </form>

{% endblock %}
