{% extends 'App.html.twig' %}

{% block Content %}

    <div class="heading h1">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1>Datenbank-Migration</h1>
            </div>
            <div class="col-md-4">

                {#
                <div class="gap-2 d-md-flex justify-content-md-end">
                    <a data-modal data-title="Text hinzuf端gen" class="btn btn-primary" href="{{ controller.getUri('Admin/Texts', 'ajaxModalCompose') }}"><i class="fa fa-plus"></i>Text hinzuf端gen</a>
                </div>
                #}

            </div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ controller.getUri('Dashboard', 'index') }}"><i class="far fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{{ controller.getUri('Admin', 'index') }}">Administration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Datenbank-Migration</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-body">

            <table class="table">
                <thead>
                <tr>
                    <th>Version</th>
                    <th>Beschreibung</th>
                    <th>Ausgef端hrt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for migration in migrations %}
                    <tr>
                        <td>{{ migration.migration.getVersion() }}</td>
                        <td>{{ migration.migration.getDescription() }}</td>
                        <td>
                            {% if migration.executed %}
                                {{ migration.executed | date('d.m.Y H:i:s') }} Uhr <br />
                                <i>{{ migration.log | nl2br }}</i>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            {% if not migration.executed %}
                                <a class="ajax" data-bs-toggle="tooltip" data-bs-title="Migration ausf端hren" href="{{ controller.getUri('Admin/Maintenance/Migrations', 'ajaxExecute', { version: migration.migration.getVersionRaw() }) }}"><i class="far fa-play"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
